*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.background-clip{
    position: absolute;
    right:0;
    bottom: 0;
    z-index: -1;
}
video{
    height: 120%;

}


.container {
    background-color: transparent;
    width: 40%;
    min-width: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom:50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(253, 74, 3, 0.952);

}

.timer-display{
    position:relative;
    width: 92%;
    background: transparent;
    color: rgb(6, 218, 179);
    left: 4%;
    font-size: 3rem;
    font-weight: 550;
    padding: 35px;
    margin-top: 20px;
    text-shadow:0 0 20px  rgba(254, 252, 249, 0.989) ;
    display: flex;
    font-family: 'Roboto mono',monospace;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(239, 71, 5, 0.992);
}

.buttons{
    width: 90%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-around;
   
    
}

.buttons button {
    width: 130px;
    height: 48px;
    color: white;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 550;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 20px rgba(239, 71, 5, 0.992);
    text-shadow:0 0 15px  rgba(0, 0, 0, 0.985);

}

.buttons button:nth-last-child(3) {
    background-color: rgb(8, 161, 41);
}
 .buttons button:nth-last-child(3):hover {
    background-color: rgb(24, 108, 42);
} 

.buttons button:nth-last-child(2) {
    background-color: rgba(217, 5, 5, 0.768);
}

.buttons button:nth-last-child(2):hover {
    background-color: rgba(80, 35, 16, 0.7);
}

.buttons button:nth-last-child(1) {
    background-color: rgb(40, 16, 219);
}

.buttons button:nth-last-child(1):hover {
    background-color: rgb(35, 6, 62);
}


.buttons button:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}










